.logo-container .brand {
    font-size: 32px;
    color: #fff;
    line-height: 34px;
    float: left;
    margin-left: 10px;
    margin-top: 7px;
    width: 70px;
    height: 40px;
    text-align: left;
}

.wrapper > .header {
    background-image: url("../../img/lake.jpg");
    background-size: cover;
    height: 100vh;
}

.index-page .card-upload {
    min-height: 400px;
    margin-top: 20vh;
}

.header-filter {
    position: relative;
}

.card-upload .header {
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -40px;
    padding: 20px 0;
}
